
body{
    background-color: #EDEFEE;
    margin: auto 40px;
}
.nav{
    background-color: #333333;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav-items{
    display: flex;
    justify-content: center;
}
li{
    color: white;
    font-size: larger;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    align-items: center;
    margin: 0 15px;
}
ul{
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.nav-container{
width: 100%;
margin: 20px 0px;
display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.img1{

    width: 400px;
    height: 100px;
}
.footer-img{
    width: 70px;
    height: 90px;
}
.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-copyright{
    
    border-top: #333333 2px solid;
    width: 30%;
    text-align: right;
}
footer{
    margin: 40px 0px;
}
.promotion{
    background-image: url(olesya-yemets-fzXVmIUsEbM-unsplash.jpg);
    height: 200px;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0px;
    background-size:cover; /* Ensures the image covers the entire container */
    background-position: center;
    background-repeat: no-repeat;

}
 h2{
    color: white;
    font-weight: 800;
}
p{
    color: white;
}
.info{
display: flex;
width: 100%;
justify-content: space-between;
}
.info div{
    border-radius: 5px;
    background-color: #F4E5D6;
    width: 30%;
    color: black;
    padding: 15px 8px;
}
.info p{
    color: black;
}

.nav-items a{
    text-decoration: none;
    color: white;
}

.info img{
height: 200px;
width: 400px;
} 
.info h2{
    color: black;
}